<ion-view title="Add Expense">
    <ion-content class="has-header">
        <section class="add-expense">
            <form ng-submit="add(expense)">
	        <div class="top-banner">
		        <p>Enter Amount</p>
	        	<span>
	        		<input ng-model="expense.amount" type="text" placeholder="00.00" required>
	        	</span>
	        </div>
	        <div class="container-content">
	        	<ul class="list">
	        		<li>
	        			<i class="temp-icon icon-title"></i>
	        			<input ng-model="expense.title" type="text" placeholder="Title" required>
	        		</li>
	        		<li>
            			<i class="temp-icon icon-date"></i>
                        <datepicker date-format="MMMM d, y">
                            <input ng-model="expense.date" type="text" placeholder="Date"/>
                        </datepicker>
                        <!-- <i class="icon-Date"></i> -->
	        		</li>
	        		<li>
	        			<i class="temp-icon icon-category"></i>
	        			<input ng-model="expense.category" type="text" placeholder="Choose Category" required>
	        		</li>
	        	</ul>
	        	<ul class="category">
                    <li>
                        <i ng-click="set('Travel')" class="category-type travel icon-travel"></i>
                        <p>Travel</p>
                    </li>
                    <li>
                        <i ng-click="set('Food')" class="category-type food icon-food"></i>
                        <p>Food</p>
                    </li>
                    <li>
                        <i ng-click="set('Health')" class="category-type health icon-health"></i>
                        <p>Health</p>
                    </li>
                    <li>
                        <i ng-click="set('Shopping')" class="category-type shopping icon-shoping"></i>
                        <p>Shopping</p>
                    </li>
                    <li>
                        <i ng-click="set('Enjoyment')" class="category-type enjoyment icon-entertainment"></i>
                        <p>Enjoyment</p>
                    </li>
                    <li>
                        <i ng-click="set('Bill')" class="category-type bill icon-bill"></i>
                        <p>Bill</p>
                    </li>
                    <li>
                        <i ng-click="set('Other')" class="category-type other icon-others"></i>
                        <p>Other</p>
                    </li>
                </ul>
	        	<button type="submit" class="btn-exp">Add Expense</a>
	        </div>
                </form>
	    </section>
    </ion-content>
</ion-view>