<ion-view title="Add Income">
    <ion-content class="has-header">
        <section class="add-income">
            <form ng-submit="add(income)">
	        <div class="top-banner">
		        <p>Enter Amount</p>
	        	<span>
	        		<input type="text" ng-model="income.amount" placeholder="00.00" required>
	        	</span>
	        </div>
	        <div class="container-content">
	        	<ul class="list">
	        		<li>
	        			<i class="temp-icon icon-title"></i>
	        			<input ng-model="income.title" type="text" placeholder="Title" required>
	        		</li>
	        		<li>
	        			<i class="temp-icon icon-date"></i>
	        			<datepicker date-format="MMMM d, y">
						  	<input ng-model="income.date" type="text" placeholder="Date"/>
						</datepicker>
	        			<!-- <i class="icon-Date"></i> -->
	        		</li>
	        		<li>
	        			<i class="temp-icon icon-category"></i>
	        			<input ng-model="income.category" type="text" placeholder="Choose Category" required>
	        		</li>
	        	</ul>
	        	<ul class="category">
	        		<li>
	        			<i ng-click="set('Salary')" class="category-type salary icon-salary"></i>
	        			<p>Salary</p>
	        		</li>
	        		<li>
	        			<i ng-click="set('Interest')" class="category-type interest icon-interest"></i>
	        			<p>Interest</p>
	        		</li>
	        		<li>
	        			<i ng-click="set('Property')" class="category-type property icon-house"></i>
	        			<p>Property</p>
	        		</li>
	        		<li>
	        			<i ng-click="set('Divident')" class="category-type divident icon-divident"></i>
	        			<p>Divident</p>
	        		</li>
	        		<li>
	        			<i ng-click="set('Capital')" class="category-type capital icon-capital"></i>
	        			<p>Capital</p>
	        		</li>
	        		<li>
	        			<i ng-click="set('Other')" class="category-type other icon-others"></i>
	        			<p>Other</p>
	        		</li>
	        	</ul>
	        	<button class="btn-income">Add Income</a>
	        </div>
                </form>
	    </section>
    </ion-content>
</ion-view>