<ion-view title="Graph">
    <ion-content class="has-header">
        <section class="graph">
            <div class="top-banner" ng-show="content==1">
            	<a href="">January<i class="temp-icon icon-downarrow"></i></a>
                <ul class="hide">
                    <li>
                        <a href="">February</a>
                    </li>
                    <li>
                        <a href="">February</a>
                    </li>
                    <li>
                        <a href="">February</a>
                    </li>
                </ul>
                <div class="container-pie-chart">
                	<canvas tc-chartjs-doughnut chart-options="options" chart-data="result1" auto-legend></canvas>
                </div>
                <ul class="tab">
                    <li>
                        <a ng-class="{'active-link':content==1}" ng-click="content=1">Expenses</a>
                    </li>
                    <li>
                        <a ng-class="{'active-link':content==2}" ng-click="content=2">Income</a>
                    </li>
                </ul>
            </div>
            <div class="top-banner" ng-show="content==2">
            	<a href="">January<i class="temp-icon icon-downarrow"></i></a>
                <ul class="hide">
                    <li>
                        <a href="">February</a>
                    </li>
                    <li>
                        <a href="">February</a>
                    </li>
                    <li>
                        <a href="">February</a>
                    </li>
                </ul>
                <div class="container-pie-chart">
                	<canvas tc-chartjs-doughnut chart-options="options" chart-data="result2" auto-legend></canvas>
                </div>
                <ul class="tab">
                    <li>
                        <a ng-class="{'active-link':content==1}" ng-click="content=1">Expences</a>
                    </li>
                    <li>
                        <a ng-class="{'active-link':content==2}" ng-click="content=2">Income</a>
                    </li>
                </ul>
            </div>
            <div class="container-content">
                <div class="cotainer-recent" ng-if="content==1">
                    <a ui-sref="menu.addExpence" class="btn-exp">Add Expense</a>
                    <p>All Income<i class="temp-icon icon-seeall"></i></p>
                    <ul>
                        <li ng-repeat="item in expense_data |orderBy :'date'">
                            <i class="categary-icon" ng-class="{'travel icon-travel':item.category=='Travel','food icon-food':item.category=='Food','health icon-health':item.category=='Health','shopping icon-shopping':item.category=='Shopping','enjoyment icon-enjoyment':item.category=='Enjoyment','bill icon-bill':item.category=='Bill','other icon-others':item.category=='Others'}"></i>
                            <p>{{item.title}}</p>
                            <span>{{item.date|date}}</span>
                            <h3>{{item.amount}}</h3>
                        </li>
                    </ul>
                </div>
                 <div class="cotainer-recent" ng-if="content==2">
                    <a ui-sref="menu.addIncome" class="btn-income">Add Income</a>
                    <p>All Income<i class="temp-icon icon-seeall"></i></p>
                    <ul>
                        <li ng-repeat="item in income_data |orderBy :'date'">
                            <i class="categary-icon" ng-class="{'salary icon-salary':item.category=='Salary','interest icon-interest':item.category=='Interest','property icon-home':item.category=='Property','divident icon-divident':item.category=='Divident','capital icon-capital':item.category=='Capital','other icon-others':item.category=='Others'}"></i>
                            <p>{{item.title}}</p>
                            <span>{{item.date|date}}</span>
                            <h3>{{item.amount}}</h3>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </ion-content>
</ion-view>