<ion-view title="Home">
    <ion-content class="has-header">
        <section class="home">
            <div class="fix-banner">
                <a ng-click="display_month=!display_month">January{{sms}}<i class="temp-icon icon-downarrow"></i></a>
                <ul ng-show="display_month" style="position: absolute">
                    <li ng-click="display_month=!display_month">
                        <a >February</a>
                    </li>
                    <li ng-click="display_month=!display_month">
                        <a>March</a>
                    </li>
                    <li ng-click="display_month=!display_month">
                        <a>April</a>
                    </li>
                </ul>
                <h2 ng-click="go_to_graph()">{{expence|number}} / {{income|number}}</h2>
                <ul class="tab">
                    <li>
                        <a ng-class="{'active-link':content==1}" ng-click="content=1">Expenses</a>
                    </li>
                    <li>
                        <a ng-class="{'active-link':content==2}" ng-click="content=2">Income</a>
                    </li>
                </ul>
            </div>
            <div class="container-content">
                <div class="cotainer-recent" ng-if="content==1">
                    <a ui-sref="menu.addExpence" class="btn-exp">Add Expense</a>
                    <p>Recent Expense<i class="temp-icon icon-seeall"></i></p>
                    <ul>{{sms|json}}
                        <li ng-repeat="item in expense_data |orderBy:'date'">
                            <i class="categary-icon" ng-class="{'travel icon-travel':item.category=='Travel','food icon-food':item.category=='Food','health icon-health':item.category=='Health','shopping icon-shoping':item.category=='Shopping','enjoyment icon-enjoyment':item.category=='Enjoyment','bill icon-bill':item.category=='Bill','other icon-others':item.category=='Others'}"></i>
                            <p>{{item.title}}</p>
                            <span>{{item.date|date}}</span>
                            <h3>{{item.amount}}</h3>
                        </li>
                    </ul>
                </div>
                 <div class="cotainer-recent" ng-if="content==2">
                    <a ui-sref="menu.addIncome" class="btn-income">Add Income</a>
                    <p>Recent Incomes<i class="temp-icon icon-seeall"></i></p>
                    <ul>
                        <li ng-repeat="item in income_data |orderBy:'date'">
                            <i class="categary-icon" ng-class="{'salary icon-salary':item.category=='Salary','interest icon-interest':item.category=='Interest','property icon-house':item.category=='Property','divident icon-divident':item.category=='Divident','capital icon-capital':item.category=='Capital','other icon-others':item.category=='Others'}"></i>
                            <p>{{item.title}}</p>
                            <span>{{item.date|date}}</span>
                            <h3>{{item.amount}}</h3>
                        </li>
                    </ul>
                </div>
            </div>
<!--
            <div class="current-balance">
                <p>Account Using</p>
                <p class="right">Current Balance</p>
                <ul>
                    <li>
                        <h3><i class=""></i>Axis Bank</h3>
                    </li>
                    <li>
                        <h4>13,530</h4>
                    </li>
                </ul>
            </div>
-->
        </section>
    </ion-content>
</ion-view>