<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle=""></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header" <="" ion-content="">
            <ion-list>
                <ion-item ui-sref="menu.home" menu-close="">Home</ion-item>
                <ion-item ui-sref="menu.addExpence" menu-close="">Add Expense</ion-item>
                <ion-item ui-sref="menu.addIncome" menu-close="">Add Income</ion-item>
                <ion-item ui-sref="menu.graph" menu-close="">Graph</ion-item>
                <ion-item ui-sref="menu.about" menu-close="">About</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>