@import "susy";
@import "breakpoint";
$large: 961px;
$tab: 769px;
$mobile: 481px;
$small: 321px;
$container-style: fluid;
$susy:(
	columns: 24,
	gutters: 1,
	math: fluid,
	output: float,
	gutter-position: outside,
	//debug:(image: show)
);
$layout-twenty-four:(
	columns: 24,
	gutters: 0,
	math: fluid,
	output: float,
	gutter-position: outside,
);
*{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6,p,a{
	font-weight: normal;
}
a{
	outline: none;
}
@font-face{
	font-family: 'open-sans-light';
	src: url('../fonts/OpenSans-Light.ttf');
}
@font-face{
	font-family: 'open-sans-regular';
	src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face{
	font-family: 'open-sans-semibold';
	src: url('../fonts/OpenSans-Semibold.ttf');
}
.temp-icon{
	display: inline-block;
	position: relative;
	top: 2px;
}
.hide{
	display: none;
}
body{
	@include border-box-sizing;
}
.bar-stable{
	background-color: #B38DFF !important;
}
.button-clear{
	color: #fff !important;
}
.title{
	color: #fff !important;
}
.item-content{
    background-color: #AC5ADB !important;
    color: #fff !important;
    font-family:open-sans-regular;
    font-size: 15px !important;
}
.home{
	width: 100%;
	clear: both;
	position: absolute;
	top: 0;
	height: 100vh;
	.fix-banner{
		width: 100%;
		position: fixed;
		a{
			display: block;
		    padding: 16px;
		    text-align: left;
		    font-size: 16px;
		    color: #fff;
	        background-color: #ac5adb;
    		text-decoration: none;
    		font-family:open-sans-regular;
    		i{
    			float: right;
    		}
		}
		ul{
			width: 100%;
			margin-top: -2px;
			li{
				width: 100%;
				border-top: 1px solid #b38dff;
				a{
					padding: 10px 16px;
				}
			}
			li:last-child{
				border-bottom: none;
			}
		}
		h2{
			font-family: open-sans-semibold;
	        background-color: #ac5adb;
			font-size: 30px;
			padding: 0;
			margin: 0;
			padding: 26px 0;
			text-align: center;
			color: #fff;
		}
		.tab{
			list-style: none;
			width: 100%;
			li{
				float: left;
				width: 50%;
				border: none;
				a{
					display: block;
				    text-align: center;
				    font-size: 15px;
				    padding: 10px;
				    color: #fff;
			        background-color: #ac5adb;
		    		text-decoration: none;
		    		font-family:open-sans-regular;
					border-bottom: 4px solid #ac5adb;
				}
				.active-link{
					border-bottom: 5px solid #ffe169;
				}
			}
		}
	}
	.container-content{
		border: 1px solid #fff;
		width: 100%;
		clear: both;
		padding: 0 16px;
		margin-top: 180px;
		.cotainer-recent{
			.btn-exp{
			    display: block;
			    padding: 15px 0;
			    text-align: center;
			    font-size: 15px;
			    color: #fff;
			    text-transform: uppercase;
			    background-color: #53dc6d;
			    text-decoration: none;
			    font-family: open-sans-regular;
			    margin: 16px 0 10px 0;
			    border-radius: 3px;	
			}
			.btn-income{
			    display: block;
			    padding: 15px 0;
			    text-align: center;
			    font-size: 15px;
			    color: #fff;
			    text-transform: uppercase;
			    background-color: #ffe169;
			    text-decoration: none;
			    font-family: open-sans-regular;
			    margin: 16px 0 10px 0;
			    border-radius: 3px;	
			}
			p{
				font-size: 14px;
				font-family: open-sans-regular;
				text-align: left;
				color: #242424;
				i{
					float: right;
				}
			}
			ul{
				width: 100%;
				list-style: none;
				li{
					width: 100%;
				    padding: 14px 0;
    				border-bottom: 1px solid #dfdfdf;
					.categary-icon{
						display: inline-block;
						height: 34px;
						width: 34px;
						background-color: #6795F3;
						position: relative;
						top: 2px;
						border-radius: 100%;
						float: left;
						margin-right: 10px;
						padding-top: 10px;
					    font-size: 18px;
					    text-align: center;
					    color: #fff;
					}
					.salary{
						background-color: #6795F3;
					}
					.interest{
						background-color: #FB936F;
					}
					.property{
						background-color: #FFE169;
					}
					.divident{
						background-color: #AB58DA;
					}
					.capital{
						background-color: #ADF375
					}
					.other{
						background-color: #FC67DE
					}
					.travel{
						background-color: #6795F3;
					}
					.food{
						background-color: #FB936F;
					}
					.health{
						background-color: #FFE169;
					}
					.shopping{
						background-color: #AB58DA;
					}
					.enjoyment{
						background-color: #82C34D;
					}
					.bill{
						background-color: #FC67DE;
					}
					p{
						margin: 0;
						font-size: 14px;
						width: 70%;
					}
					span{
						font-size: 11px;
					    position: relative;
					    top: -3px;
					    color: #989898;
					}
					h3{
						margin: 0;
						padding: 0;
						font-size: 15px;
					    float: right;
					    font-family: open-sans-semibold;
					    width: 30%;
					    text-align: right;
					    position: relative;
    					top: -19px;
					}
				}
			}
		}
	}
	.current-balance{
		width: 100%;
		position: absolute;
		height:100px;
		bottom: 0;
		padding: 0 16px;
		background-color: #eaeaae;
		p{
			width: 50%;
			float: left;
			font-size: 14px;
			font-family: open-sans-regular;
			text-align: left;
			color: #242424;
			padding: 8px 0;
			margin: 0;
		}
		.right{
			text-align: right;
		}
		ul{
			width: 100%;
			li{
				list-style: none;
				float: left;
				i{
					display: inline-block;
					height: 28px;
					width: 28px;
					border: 1px solid #fff;
					position: relative;
				    top: 10px;
				    margin-right: 6px;
				}
				h3{
					font-family: open-sans-semibold;
					font-size: 15px;
					color: #242424;
					margin: 0;
					text-align: left;
				}
				h4{
					font-family: open-sans-semibold;
					font-size: 15px;
					color: #242424;
					margin: 0;
					text-align: right;
					padding: 10px 0;
				}
			}
			li:first-child{
				width: 70%;
			}
			li:last-child{
				width: 30%;
			}

		}
	}
}
.add-income{
	width: 100%;
	clear: both;
	position: absolute;
	top: 0;
	height: 100vh;
	.top-banner{
		width: 100%;
		clear: both;
		p{
			display: block;
		    padding: 16px;
		    text-align: left;
		    font-size: 15px;
		    color: #fff;
		    margin: 0;
	        background-color: #ac5adb;
			font-family:open-sans-regular;
		}
		span{
			padding: 12px 0 28px 0;
		    background-color: #ac5adb;
		    display: block;
			input{
				font-family: open-sans-semibold;
		        background-color: #ac5adb;
				font-size: 32px;
				line-height: 38px;
		    	width: 40%;
		    	height: auto;
		    	padding-top: 0;
				text-align: center;
				color: #fff;
				margin: auto;
				border-bottom: 1px solid #b38dff;
			}
		}
	}
	.container-content{
		width: 100%;
		clear: both;
		padding: 0 16px;
		.list{
			width: 100%;
			margin: 0;
			padding-top: 16px;
			li{
				list-style: none;
				width: 100%;
				position: relative;
				padding: 8px 0;
				display: table;
				input{
					width: 100%;
					padding-left: 26px;
					border: none;
					border-bottom: 1px solid #dfdfdf;
					font-family:open-sans-regular;
					font-size: 14px;
					color: #242424;
				}
				::-webkit-input-placeholder {
					color: #242424;
				}
				:-moz-placeholder {
					color: #242424;
				}
				::-moz-placeholder {
					color: #242424;
				}
				:-ms-input-placeholder {
					color: #242424;
				}
				.temp-icon{
					position: absolute;
				    top: 14px;
				    left: 0;
				    font-size: 18px;
    				color: #242424;
    				z-index: 9;
				}
				.icon-Date{
					position: absolute;
					top: 10px;
					right: 0;
					border: 1px solid #ededed;
					display: inline-block;
					width: 20px;
					height: 20px;
				}
			}
		}
		.category{
			width: 100%;
			display: table;
			padding: 18px 0;
			li{
				list-style: none;
				width: 25%;
				float: left;
				padding: 2px 0;
				.category-type{
					height: 38px;
				    width: 38px;
				    border-radius: 100%;
				    display: block;
				    margin: auto;
				    text-align: center;
				    vertical-align: middle;
				    padding-top: 10px;
				    font-size: 18px;
				    color: #fff;
				}
				.salary{
					background-color: #6795F3;
				}
				.interest{
					background-color: #FB936F;
				}
				.property{
					background-color: #FFE169;
				}
				.divident{
					background-color: #AB58DA;
				}
				.capital{
					background-color: #ADF375
				}
				.other{
					background-color: #FC67DE
				}
				p{
					text-align: center;
					font-family:open-sans-regular;
					font-size: 12px;
					color: #242424;
					padding-top: 4px;
				}
			}
		}
		.btn-income{
		    display: block;
		    padding: 15px 0;
		    text-align: center;
		    font-size: 15px;
		    color: #fff;
		    background-color: #ffe169;
		    text-decoration: none;
		    font-family: open-sans-regular;
		    margin: 14px 0 10px 0;
		    border-radius: 3px;
		    margin: 0;
		    width: 100%;
    		border: none;
		    text-transform: uppercase;
		}
	}
}
.add-expense{
	width: 100%;
	clear: both;
	position: absolute;
	top: 0;
	height: 100vh;
	.top-banner{
		width: 100%;
		clear: both;
		p{
			display: block;
		    padding: 16px;
		    text-align: left;
		    font-size: 15px;
		    color: #fff;
		    margin: 0;
	        background-color: #ac5adb;
			font-family:open-sans-regular;
		}
		span{
			padding: 12px 0 28px 0;
		    background-color: #ac5adb;
		    display: block;
			input{
				font-family: open-sans-semibold;
		        background-color: #ac5adb;
				font-size: 32px;
				line-height: 38px;
		    	width: 40%;
		    	height: auto;
		    	padding-top: 0;
				text-align: center;
				color: #fff;
				margin: auto;
				border-bottom: 1px solid #b38dff;
			}
		}
	}
	.container-content{
		width: 100%;
		clear: both;
		padding: 0 16px;
		.list{
			width: 100%;
			margin: 0;
			padding-top: 16px;
			li{
				list-style: none;
				width: 100%;
				position: relative;
				padding: 8px 0;
				display: table;
				input{
					width: 100%;
					padding-left: 26px;
					border: none;
					border-bottom: 1px solid #dfdfdf;
					font-family:open-sans-regular;
					font-size: 14px;
					color: #242424;
				}
				::-webkit-input-placeholder {
					color: #242424;
				}
				:-moz-placeholder {
					color: #242424;
				}
				::-moz-placeholder {
					color: #242424;
				}
				:-ms-input-placeholder {
					color: #242424;
				}
				.temp-icon{
					position: absolute;
				    top: 14px;
				    left: 0;
				    font-size: 18px;
    				color: #242424;
    				z-index: 9;
				}
				.icon-Date{
					position: absolute;
					top: 10px;
					right: 0;
					border: 1px solid #ededed;
					display: inline-block;
					width: 20px;
					height: 20px;
				}
			}
		}
		.category{
			width: 100%;
			display: table;
			padding: 18px 0;
			li{
				list-style: none;
				width: 25%;
				float: left;
				padding: 2px 0;
				.category-type{
				    height: 38px;
				    width: 38px;
				    border-radius: 100%;
				    display: block;
				    margin: auto;
				    text-align: center;
				    vertical-align: middle;
				    padding-top: 10px;
				    font-size: 18px;
				    color: #fff;
				}
				.travel{
					background-color: #6795F3;
				}
				.food{
					background-color: #FB936F;
				}
				.health{
					background-color: #FFE169;
				}
				.shopping{
					background-color: #AB58DA;
				}
				.enjoyment{
					background-color: #82C34D;
				}
				.bill{
					background-color: #FC67DE;
				}
				.other{
					background-color: #ADF375;
				}
				p{
					text-align: center;
					font-family:open-sans-regular;
					font-size: 12px;
					color: #242424;
					padding-top: 4px;

				}
			}
		}
		.btn-exp{
		    display: block;
		    padding: 15px 0;
		    text-align: center;
		    font-size: 15px;
		    color: #fff;
		    background-color: #53dc6d;
		    text-decoration: none;
		    font-family: open-sans-regular;
		    margin: 14px 0 10px 0;
		    border-radius: 3px;
		    text-transform: uppercase;
		    margin: 0;
		    width: 100%;
    		border: none;
		}
	}
}
.graph{
	width: 100%;
	clear: both;
	position: absolute;
	top: 0;
	height: 100vh;
	.top-banner{
		width: 100%;
		a{
			display: block;
		    padding: 16px;
		    text-align: left;
		    font-size: 16px;
		    color: #fff;
	        background-color: #ac5adb;
    		text-decoration: none;
    		font-family:open-sans-regular;
    		i{
    			float: right;
    		}
		}
		ul{
			width: 100%;
			margin-top: -2px;
			li{
				width: 100%;
				border-top: 1px solid #b38dff;
				a{
					padding: 10px 16px;
				}
			}
			li:last-child{
				border-bottom: none;
			}
		}
		.container-pie-chart{
		    padding: 0px 16px 16px 16px;
			background: #AC5ADB;
			canvas{
				position: relative;
				margin: 6px 0 18px 0;
    			left: 50%;
    			transform: translateX(-50%);
    			-webkit-transform: translateX(-50%);
    			-moz-transform: translateX(-50%);
    			-ms-transform: translateX(-50%);
    			-o-transform: translateX(-50%);
			}
			ul{
				li{
					padding: 6px 0;
					border-top: 1px solid #dfdfdf;
		    		font-family:open-sans-regular;
		    		font-size: 12px;
					color: #fff;
					span{
						display: inline-block;
						height: 10px;
						width: 10px;
						border-radius: 2px;
						margin-right: 10px;
					}
				}
				li:last-child{
					border-bottom: 1px solid #dfdfdf;
				}
			}
		}
		.tab{
			list-style: none;
			width: 100%;
			li{
				float: left;
				width: 50%;
				border: none;
				a{
					display: block;
				    text-align: center;
				    font-size: 15px;
				    padding: 10px;
				    color: #fff;
			        background-color: #ac5adb;
		    		text-decoration: none;
		    		font-family:open-sans-regular;
					border-bottom: 4px solid #ac5adb;
				}
				.active-link{
					border-bottom: 5px solid #ffe169;
				}
			}
		}
	}
	.container-content{
		border: 1px solid #fff;
		width: 100%;
		clear: both;
		padding: 0 16px;
		.cotainer-recent{
			.btn-exp{
			    display: block;
			    padding: 15px 0;
			    text-align: center;
			    font-size: 15px;
			    color: #fff;
			    text-transform: uppercase;
			    background-color: #53dc6d;
			    text-decoration: none;
			    font-family: open-sans-regular;
			    margin: 16px 0 10px 0;
			    border-radius: 3px;	
			}
			.btn-income{
			    display: block;
			    padding: 15px 0;
			    text-align: center;
			    font-size: 15px;
			    color: #fff;
			    text-transform: uppercase;
			    background-color: #ffe169;
			    text-decoration: none;
			    font-family: open-sans-regular;
			    margin: 16px 0 10px 0;
			    border-radius: 3px;	
			}
			p{
				font-size: 14px;
				font-family: open-sans-regular;
				text-align: left;
				color: #242424;
				i{
					float: right;
				}
			}
			ul{
				width: 100%;
				list-style: none;
				li{
					width: 100%;
				    padding: 14px 0;
    				border-bottom: 1px solid #dfdfdf;
					.categary-icon{
						display: inline-block;
						height: 34px;
						width: 34px;
						background-color: #6795F3;
						position: relative;
						top: 2px;
						border-radius: 100%;
						float: left;
						margin-right: 10px;
						padding-top: 10px;
					    font-size: 18px;
					    text-align: center;
					    color: #fff;
					}
					.salary{
						background-color: #6795F3;
					}
					.interest{
						background-color: #FB936F;
					}
					.property{
						background-color: #FFE169;
					}
					.divident{
						background-color: #AB58DA;
					}
					.capital{
						background-color: #ADF375
					}
					.other{
						background-color: #FC67DE
					}
					.travel{
						background-color: #6795F3;
					}
					.food{
						background-color: #FB936F;
					}
					.health{
						background-color: #FFE169;
					}
					.shopping{
						background-color: #AB58DA;
					}
					.enjoyment{
						background-color: #82C34D;
					}
					.bill{
						background-color: #FC67DE;
					}
					p{
						margin: 0;
						font-size: 14px;
						width: 70%;
					}
					span{
						font-size: 11px;
					    position: relative;
					    top: -3px;
					    color: #989898;
					}
					h3{
						margin: 0;
						padding: 0;
						font-size: 15px;
					    float: right;
					    font-family: open-sans-semibold;
					    width: 30%;
					    text-align: right;
					    position: relative;
    					top: -19px;
					}
				}
			}
		}
	}
	.current-balance{
		width: 100%;
		position: absolute;
		height:100px;
		bottom: 0;
		padding: 0 16px;
		background-color: #eaeaae;
		p{
			width: 50%;
			float: left;
			font-size: 14px;
			font-family: open-sans-regular;
			text-align: left;
			color: #242424;
			padding: 8px 0;
			margin: 0;
		}
		.right{
			text-align: right;
		}
		ul{
			width: 100%;
			li{
				list-style: none;
				float: left;
				i{
					display: inline-block;
					height: 28px;
					width: 28px;
					border: 1px solid #fff;
					position: relative;
				    top: 10px;
				    margin-right: 6px;
				}
				h3{
					font-family: open-sans-semibold;
					font-size: 15px;
					color: #242424;
					margin: 0;
					text-align: left;
				}
				h4{
					font-family: open-sans-semibold;
					font-size: 15px;
					color: #242424;
					margin: 0;
					text-align: right;
					padding: 10px 0;
				}
			}
			li:first-child{
				width: 70%;
			}
			li:last-child{
				width: 30%;
			}

		}
	}
}
.about{
	width: 100%;
	clear: both;
	position: absolute;
	top: 0;
	height: 100vh;
	padding: 20px 16px;
	h2{
		text-align: center;
		font-family: open-sans-regular;
		font-size: 20px;
		color: #242424;
	}
	p{
		font-family: open-sans-regular;
		text-align: justify;
		font-size: 15px;
		color: #242424;
		text-indent: 50px;
	}
}