@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?ljgef7');
    src:    url('../fonts/icomoon.eot?ljgef7#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?ljgef7') format('truetype'),
        url('../fonts/icomoon.woff?ljgef7') format('woff'),
        url('../fonts/icomoon.svg?ljgef7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-category:before {
    content: "\e90b";
}
.icon-date:before {
    content: "\e90c";
}
.icon-downarrow:before {
    content: "\e90d";
}
.icon-seeall:before {
    content: "\e90e";
}
.icon-title:before {
    content: "\e90f";
}
.icon-bill:before {
    content: "\e900";
}
.icon-capital:before {
    content: "\e910";
}
.icon-divident:before {
    content: "\e901";
}
.icon-entertainment:before {
    content: "\e902";
}
.icon-food:before {
    content: "\e903";
}
.icon-health:before {
    content: "\e904";
}
.icon-house:before {
    content: "\e905";
}
.icon-interest:before {
    content: "\e906";
}
.icon-others:before {
    content: "\e907";
}
.icon-salary:before {
    content: "\e908";
}
.icon-shoping:before {
    content: "\e909";
}
.icon-travel:before {
    content: "\e90a";
}
