* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-weight: normal;
}

a {
  outline: none;
}

@font-face {
  font-family: 'open-sans-light';
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: 'open-sans-regular';
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: 'open-sans-semibold';
  src: url("../fonts/OpenSans-Semibold.ttf");
}
.temp-icon {
  display: inline-block;
  position: relative;
  top: 2px;
}

.hide {
  display: none;
}

body *, body *:before, body *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bar-stable {
  background-color: #B38DFF !important;
}

.button-clear {
  color: #fff !important;
}

.title {
  color: #fff !important;
}

.item-content {
  background-color: #AC5ADB !important;
  color: #fff !important;
  font-family: open-sans-regular;
  font-size: 15px !important;
}

.home {
  width: 100%;
  clear: both;
  position: absolute;
  top: 0;
  height: 100vh;
}
.home .fix-banner {
  width: 100%;
  position: fixed;
}
.home .fix-banner a {
  display: block;
  padding: 16px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  background-color: #ac5adb;
  text-decoration: none;
  font-family: open-sans-regular;
}
.home .fix-banner a i {
  float: right;
}
.home .fix-banner ul {
  width: 100%;
  margin-top: -2px;
}
.home .fix-banner ul li {
  width: 100%;
  border-top: 1px solid #b38dff;
}
.home .fix-banner ul li a {
  padding: 10px 16px;
}
.home .fix-banner ul li:last-child {
  border-bottom: none;
}
.home .fix-banner h2 {
  font-family: open-sans-semibold;
  background-color: #ac5adb;
  font-size: 30px;
  padding: 0;
  margin: 0;
  padding: 26px 0;
  text-align: center;
  color: #fff;
}
.home .fix-banner .tab {
  list-style: none;
  width: 100%;
}
.home .fix-banner .tab li {
  float: left;
  width: 50%;
  border: none;
}
.home .fix-banner .tab li a {
  display: block;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  color: #fff;
  background-color: #ac5adb;
  text-decoration: none;
  font-family: open-sans-regular;
  border-bottom: 4px solid #ac5adb;
}
.home .fix-banner .tab li .active-link {
  border-bottom: 5px solid #ffe169;
}
.home .container-content {
  border: 1px solid #fff;
  width: 100%;
  clear: both;
  padding: 0 16px;
  margin-top: 180px;
}
.home .container-content .cotainer-recent .btn-exp {
  display: block;
  padding: 15px 0;
  text-align: center;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  background-color: #53dc6d;
  text-decoration: none;
  font-family: open-sans-regular;
  margin: 16px 0 10px 0;
  border-radius: 3px;
}
.home .container-content .cotainer-recent .btn-income {
  display: block;
  padding: 15px 0;
  text-align: center;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  background-color: #ffe169;
  text-decoration: none;
  font-family: open-sans-regular;
  margin: 16px 0 10px 0;
  border-radius: 3px;
}
.home .container-content .cotainer-recent p {
  font-size: 14px;
  font-family: open-sans-regular;
  text-align: left;
  color: #242424;
}
.home .container-content .cotainer-recent p i {
  float: right;
}
.home .container-content .cotainer-recent ul {
  width: 100%;
  list-style: none;
}
.home .container-content .cotainer-recent ul li {
  width: 100%;
  padding: 14px 0;
  border-bottom: 1px solid #dfdfdf;
}
.home .container-content .cotainer-recent ul li .categary-icon {
  display: inline-block;
  height: 34px;
  width: 34px;
  background-color: #6795F3;
  position: relative;
  top: 2px;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
  color: #fff;
}
.home .container-content .cotainer-recent ul li .salary {
  background-color: #6795F3;
}
.home .container-content .cotainer-recent ul li .interest {
  background-color: #FB936F;
}
.home .container-content .cotainer-recent ul li .property {
  background-color: #FFE169;
}
.home .container-content .cotainer-recent ul li .divident {
  background-color: #AB58DA;
}
.home .container-content .cotainer-recent ul li .capital {
  background-color: #ADF375;
}
.home .container-content .cotainer-recent ul li .other {
  background-color: #FC67DE;
}
.home .container-content .cotainer-recent ul li .travel {
  background-color: #6795F3;
}
.home .container-content .cotainer-recent ul li .food {
  background-color: #FB936F;
}
.home .container-content .cotainer-recent ul li .health {
  background-color: #FFE169;
}
.home .container-content .cotainer-recent ul li .shopping {
  background-color: #AB58DA;
}
.home .container-content .cotainer-recent ul li .enjoyment {
  background-color: #82C34D;
}
.home .container-content .cotainer-recent ul li .bill {
  background-color: #FC67DE;
}
.home .container-content .cotainer-recent ul li p {
  margin: 0;
  font-size: 14px;
  width: 70%;
}
.home .container-content .cotainer-recent ul li span {
  font-size: 11px;
  position: relative;
  top: -3px;
  color: #989898;
}
.home .container-content .cotainer-recent ul li h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  float: right;
  font-family: open-sans-semibold;
  width: 30%;
  text-align: right;
  position: relative;
  top: -19px;
}
.home .current-balance {
  width: 100%;
  position: absolute;
  height: 100px;
  bottom: 0;
  padding: 0 16px;
  background-color: #eaeaae;
}
.home .current-balance p {
  width: 50%;
  float: left;
  font-size: 14px;
  font-family: open-sans-regular;
  text-align: left;
  color: #242424;
  padding: 8px 0;
  margin: 0;
}
.home .current-balance .right {
  text-align: right;
}
.home .current-balance ul {
  width: 100%;
}
.home .current-balance ul li {
  list-style: none;
  float: left;
}
.home .current-balance ul li i {
  display: inline-block;
  height: 28px;
  width: 28px;
  border: 1px solid #fff;
  position: relative;
  top: 10px;
  margin-right: 6px;
}
.home .current-balance ul li h3 {
  font-family: open-sans-semibold;
  font-size: 15px;
  color: #242424;
  margin: 0;
  text-align: left;
}
.home .current-balance ul li h4 {
  font-family: open-sans-semibold;
  font-size: 15px;
  color: #242424;
  margin: 0;
  text-align: right;
  padding: 10px 0;
}
.home .current-balance ul li:first-child {
  width: 70%;
}
.home .current-balance ul li:last-child {
  width: 30%;
}

.add-income {
  width: 100%;
  clear: both;
  position: absolute;
  top: 0;
  height: 100vh;
}
.add-income .top-banner {
  width: 100%;
  clear: both;
}
.add-income .top-banner p {
  display: block;
  padding: 16px;
  text-align: left;
  font-size: 15px;
  color: #fff;
  margin: 0;
  background-color: #ac5adb;
  font-family: open-sans-regular;
}
.add-income .top-banner span {
  padding: 12px 0 28px 0;
  background-color: #ac5adb;
  display: block;
}
.add-income .top-banner span input {
  font-family: open-sans-semibold;
  background-color: #ac5adb;
  font-size: 32px;
  line-height: 38px;
  width: 40%;
  height: auto;
  padding-top: 0;
  text-align: center;
  color: #fff;
  margin: auto;
  border-bottom: 1px solid #b38dff;
}
.add-income .container-content {
  width: 100%;
  clear: both;
  padding: 0 16px;
}
.add-income .container-content .list {
  width: 100%;
  margin: 0;
  padding-top: 16px;
}
.add-income .container-content .list li {
  list-style: none;
  width: 100%;
  position: relative;
  padding: 8px 0;
  display: table;
}
.add-income .container-content .list li input {
  width: 100%;
  padding-left: 26px;
  border: none;
  border-bottom: 1px solid #dfdfdf;
  font-family: open-sans-regular;
  font-size: 14px;
  color: #242424;
}
.add-income .container-content .list li ::-webkit-input-placeholder {
  color: #242424;
}
.add-income .container-content .list li :-moz-placeholder {
  color: #242424;
}
.add-income .container-content .list li ::-moz-placeholder {
  color: #242424;
}
.add-income .container-content .list li :-ms-input-placeholder {
  color: #242424;
}
.add-income .container-content .list li .temp-icon {
  position: absolute;
  top: 14px;
  left: 0;
  font-size: 18px;
  color: #242424;
  z-index: 9;
}
.add-income .container-content .list li .icon-Date {
  position: absolute;
  top: 10px;
  right: 0;
  border: 1px solid #ededed;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.add-income .container-content .category {
  width: 100%;
  display: table;
  padding: 18px 0;
}
.add-income .container-content .category li {
  list-style: none;
  width: 25%;
  float: left;
  padding: 2px 0;
}
.add-income .container-content .category li .category-type {
  height: 38px;
  width: 38px;
  border-radius: 100%;
  display: block;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  font-size: 18px;
  color: #fff;
}
.add-income .container-content .category li .salary {
  background-color: #6795F3;
}
.add-income .container-content .category li .interest {
  background-color: #FB936F;
}
.add-income .container-content .category li .property {
  background-color: #FFE169;
}
.add-income .container-content .category li .divident {
  background-color: #AB58DA;
}
.add-income .container-content .category li .capital {
  background-color: #ADF375;
}
.add-income .container-content .category li .other {
  background-color: #FC67DE;
}
.add-income .container-content .category li p {
  text-align: center;
  font-family: open-sans-regular;
  font-size: 12px;
  color: #242424;
  padding-top: 4px;
}
.add-income .container-content .btn-income {
  display: block;
  padding: 15px 0;
  text-align: center;
  font-size: 15px;
  color: #fff;
  background-color: #ffe169;
  text-decoration: none;
  font-family: open-sans-regular;
  margin: 14px 0 10px 0;
  border-radius: 3px;
  margin: 0;
  width: 100%;
  border: none;
  text-transform: uppercase;
}

.add-expense {
  width: 100%;
  clear: both;
  position: absolute;
  top: 0;
  height: 100vh;
}
.add-expense .top-banner {
  width: 100%;
  clear: both;
}
.add-expense .top-banner p {
  display: block;
  padding: 16px;
  text-align: left;
  font-size: 15px;
  color: #fff;
  margin: 0;
  background-color: #ac5adb;
  font-family: open-sans-regular;
}
.add-expense .top-banner span {
  padding: 12px 0 28px 0;
  background-color: #ac5adb;
  display: block;
}
.add-expense .top-banner span input {
  font-family: open-sans-semibold;
  background-color: #ac5adb;
  font-size: 32px;
  line-height: 38px;
  width: 40%;
  height: auto;
  padding-top: 0;
  text-align: center;
  color: #fff;
  margin: auto;
  border-bottom: 1px solid #b38dff;
}
.add-expense .container-content {
  width: 100%;
  clear: both;
  padding: 0 16px;
}
.add-expense .container-content .list {
  width: 100%;
  margin: 0;
  padding-top: 16px;
}
.add-expense .container-content .list li {
  list-style: none;
  width: 100%;
  position: relative;
  padding: 8px 0;
  display: table;
}
.add-expense .container-content .list li input {
  width: 100%;
  padding-left: 26px;
  border: none;
  border-bottom: 1px solid #dfdfdf;
  font-family: open-sans-regular;
  font-size: 14px;
  color: #242424;
}
.add-expense .container-content .list li ::-webkit-input-placeholder {
  color: #242424;
}
.add-expense .container-content .list li :-moz-placeholder {
  color: #242424;
}
.add-expense .container-content .list li ::-moz-placeholder {
  color: #242424;
}
.add-expense .container-content .list li :-ms-input-placeholder {
  color: #242424;
}
.add-expense .container-content .list li .temp-icon {
  position: absolute;
  top: 14px;
  left: 0;
  font-size: 18px;
  color: #242424;
  z-index: 9;
}
.add-expense .container-content .list li .icon-Date {
  position: absolute;
  top: 10px;
  right: 0;
  border: 1px solid #ededed;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.add-expense .container-content .category {
  width: 100%;
  display: table;
  padding: 18px 0;
}
.add-expense .container-content .category li {
  list-style: none;
  width: 25%;
  float: left;
  padding: 2px 0;
}
.add-expense .container-content .category li .category-type {
  height: 38px;
  width: 38px;
  border-radius: 100%;
  display: block;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  font-size: 18px;
  color: #fff;
}
.add-expense .container-content .category li .travel {
  background-color: #6795F3;
}
.add-expense .container-content .category li .food {
  background-color: #FB936F;
}
.add-expense .container-content .category li .health {
  background-color: #FFE169;
}
.add-expense .container-content .category li .shopping {
  background-color: #AB58DA;
}
.add-expense .container-content .category li .enjoyment {
  background-color: #82C34D;
}
.add-expense .container-content .category li .bill {
  background-color: #FC67DE;
}
.add-expense .container-content .category li .other {
  background-color: #ADF375;
}
.add-expense .container-content .category li p {
  text-align: center;
  font-family: open-sans-regular;
  font-size: 12px;
  color: #242424;
  padding-top: 4px;
}
.add-expense .container-content .btn-exp {
  display: block;
  padding: 15px 0;
  text-align: center;
  font-size: 15px;
  color: #fff;
  background-color: #53dc6d;
  text-decoration: none;
  font-family: open-sans-regular;
  margin: 14px 0 10px 0;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  border: none;
}

.graph {
  width: 100%;
  clear: both;
  position: absolute;
  top: 0;
  height: 100vh;
}
.graph .top-banner {
  width: 100%;
}
.graph .top-banner a {
  display: block;
  padding: 16px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  background-color: #ac5adb;
  text-decoration: none;
  font-family: open-sans-regular;
}
.graph .top-banner a i {
  float: right;
}
.graph .top-banner ul {
  width: 100%;
  margin-top: -2px;
}
.graph .top-banner ul li {
  width: 100%;
  border-top: 1px solid #b38dff;
}
.graph .top-banner ul li a {
  padding: 10px 16px;
}
.graph .top-banner ul li:last-child {
  border-bottom: none;
}
.graph .top-banner .container-pie-chart {
  padding: 0px 16px 16px 16px;
  background: #AC5ADB;
}
.graph .top-banner .container-pie-chart canvas {
  position: relative;
  margin: 6px 0 18px 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.graph .top-banner .container-pie-chart ul li {
  padding: 6px 0;
  border-top: 1px solid #dfdfdf;
  font-family: open-sans-regular;
  font-size: 12px;
  color: #fff;
}
.graph .top-banner .container-pie-chart ul li span {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 2px;
  margin-right: 10px;
}
.graph .top-banner .container-pie-chart ul li:last-child {
  border-bottom: 1px solid #dfdfdf;
}
.graph .top-banner .tab {
  list-style: none;
  width: 100%;
}
.graph .top-banner .tab li {
  float: left;
  width: 50%;
  border: none;
}
.graph .top-banner .tab li a {
  display: block;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  color: #fff;
  background-color: #ac5adb;
  text-decoration: none;
  font-family: open-sans-regular;
  border-bottom: 4px solid #ac5adb;
}
.graph .top-banner .tab li .active-link {
  border-bottom: 5px solid #ffe169;
}
.graph .container-content {
  border: 1px solid #fff;
  width: 100%;
  clear: both;
  padding: 0 16px;
}
.graph .container-content .cotainer-recent .btn-exp {
  display: block;
  padding: 15px 0;
  text-align: center;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  background-color: #53dc6d;
  text-decoration: none;
  font-family: open-sans-regular;
  margin: 16px 0 10px 0;
  border-radius: 3px;
}
.graph .container-content .cotainer-recent .btn-income {
  display: block;
  padding: 15px 0;
  text-align: center;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  background-color: #ffe169;
  text-decoration: none;
  font-family: open-sans-regular;
  margin: 16px 0 10px 0;
  border-radius: 3px;
}
.graph .container-content .cotainer-recent p {
  font-size: 14px;
  font-family: open-sans-regular;
  text-align: left;
  color: #242424;
}
.graph .container-content .cotainer-recent p i {
  float: right;
}
.graph .container-content .cotainer-recent ul {
  width: 100%;
  list-style: none;
}
.graph .container-content .cotainer-recent ul li {
  width: 100%;
  padding: 14px 0;
  border-bottom: 1px solid #dfdfdf;
}
.graph .container-content .cotainer-recent ul li .categary-icon {
  display: inline-block;
  height: 34px;
  width: 34px;
  background-color: #6795F3;
  position: relative;
  top: 2px;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
  color: #fff;
}
.graph .container-content .cotainer-recent ul li .salary {
  background-color: #6795F3;
}
.graph .container-content .cotainer-recent ul li .interest {
  background-color: #FB936F;
}
.graph .container-content .cotainer-recent ul li .property {
  background-color: #FFE169;
}
.graph .container-content .cotainer-recent ul li .divident {
  background-color: #AB58DA;
}
.graph .container-content .cotainer-recent ul li .capital {
  background-color: #ADF375;
}
.graph .container-content .cotainer-recent ul li .other {
  background-color: #FC67DE;
}
.graph .container-content .cotainer-recent ul li .travel {
  background-color: #6795F3;
}
.graph .container-content .cotainer-recent ul li .food {
  background-color: #FB936F;
}
.graph .container-content .cotainer-recent ul li .health {
  background-color: #FFE169;
}
.graph .container-content .cotainer-recent ul li .shopping {
  background-color: #AB58DA;
}
.graph .container-content .cotainer-recent ul li .enjoyment {
  background-color: #82C34D;
}
.graph .container-content .cotainer-recent ul li .bill {
  background-color: #FC67DE;
}
.graph .container-content .cotainer-recent ul li p {
  margin: 0;
  font-size: 14px;
  width: 70%;
}
.graph .container-content .cotainer-recent ul li span {
  font-size: 11px;
  position: relative;
  top: -3px;
  color: #989898;
}
.graph .container-content .cotainer-recent ul li h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  float: right;
  font-family: open-sans-semibold;
  width: 30%;
  text-align: right;
  position: relative;
  top: -19px;
}
.graph .current-balance {
  width: 100%;
  position: absolute;
  height: 100px;
  bottom: 0;
  padding: 0 16px;
  background-color: #eaeaae;
}
.graph .current-balance p {
  width: 50%;
  float: left;
  font-size: 14px;
  font-family: open-sans-regular;
  text-align: left;
  color: #242424;
  padding: 8px 0;
  margin: 0;
}
.graph .current-balance .right {
  text-align: right;
}
.graph .current-balance ul {
  width: 100%;
}
.graph .current-balance ul li {
  list-style: none;
  float: left;
}
.graph .current-balance ul li i {
  display: inline-block;
  height: 28px;
  width: 28px;
  border: 1px solid #fff;
  position: relative;
  top: 10px;
  margin-right: 6px;
}
.graph .current-balance ul li h3 {
  font-family: open-sans-semibold;
  font-size: 15px;
  color: #242424;
  margin: 0;
  text-align: left;
}
.graph .current-balance ul li h4 {
  font-family: open-sans-semibold;
  font-size: 15px;
  color: #242424;
  margin: 0;
  text-align: right;
  padding: 10px 0;
}
.graph .current-balance ul li:first-child {
  width: 70%;
}
.graph .current-balance ul li:last-child {
  width: 30%;
}

.about {
  width: 100%;
  clear: both;
  position: absolute;
  top: 0;
  height: 100vh;
  padding: 20px 16px;
}
.about h2 {
  text-align: center;
  font-family: open-sans-regular;
  font-size: 20px;
  color: #242424;
}
.about p {
  font-family: open-sans-regular;
  text-align: justify;
  font-size: 15px;
  color: #242424;
  text-indent: 50px;
}
